[workspace]
resolver = "2"
members = ["bin/*", "libs/*", "plugins/*"]
exclude = ["bin/npm", "benchmark/server", "tools/panic_free_analyzer"]

[workspace.dependencies]
tokio = "1.35.1"
futures = "0.3.30"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = { version = "1.0.111", features = ["preserve_order"] }
tracing = "0.1.40"
http = "0.2.11"
http-body = "0.4.6"
bytes = "1.5.0"
async-trait = "0.1.74"
anyhow = "1.0.75"
reqwest = { version = "0.11.22" }
thiserror = "1.0.50"
tracing-subscriber = "0.3.18"
base64 = "0.21.5"
schemars = "0.8.16"
vrl = { git = "https://github.com/vectordotdev/vrl.git", rev = "afaca43e3ed266827e0921d1790a7f11e0abc0f0", default-features = false, features = [
  "string_path",
  "compiler",
  "value",
  "stdlib",
] }

[profile.release.package.conductor-cf-worker]
strip = true
codegen-units = 1
