[workspace]
resolver = "2"
members = ["bin/*", "libs/*", "plugins/*"]
exclude = ["bin/npm", "tests/test-server"]

[workspace.dependencies]
tokio = "1.35.1"
futures = "0.3.30"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = { version = "1.0.113" }
tracing = "0.1.40"
http = "0.2.11"
http-body = "0.4.6"
bytes = "1.5.0"
async-trait = "0.1.77"
anyhow = "1.0.79"
reqwest = "0.11.23"
thiserror = "1.0.56"
reqwest-middleware = "0.2.4"
tracing-subscriber = "0.3.18"
base64 = "0.21.7"
schemars = "0.8.16"
vrl = { git = "https://github.com/dotansimha/vrl.git", rev = "d59b2f66727d3c345b4202b94265c580dfd0f0e9", default-features = false, features = [
  "string_path",
  "compiler",
  "value",
  "stdlib",
] }
minitrace = "0.6.3"

[profile.release.package.conductor-cf-worker]
strip = true
codegen-units = 1

[profile.release.graphql-conductor_lib]
lto = true
