[package]
name = "conductor"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "conductor"
path = "src/main.rs"
bench = false

[dependencies]
serde = { version = "1.0.189", features = ["derive"] }
serde_json = "1.0.107"
tokio = { version = "1.33.0", features = ["macros", "rt-multi-thread"] }
hyper = { version = "0.14.27", features = ["http1", "http2", "client"] }
axum = { version = "0.6.20", features = ["headers"] }
serde_yaml = "0.9.25"
tracing = "0.1.40"
tracing-subscriber = "0.3.17"
async-trait = "0.1.74"
hyper-tls = "0.5.0"
axum-macros = "0.3.8"
tokio-util = { version = "0.7.9", features = ["io", "compat"] }
tower-http = { version = "0.4.4", features = ["cors"] }
http = "0.2.9"
mime = "0.3.17"
url = "2.4.1"
graphql-parser = "0.4.0"
futures = "0.3.28"
axum-test = "12.5.1"
openssl = { version = "0.10", features = ["vendored"] }

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
httpmock = "0.6"

[lib]
bench = false

[[bench]]
name = "bench"
harness = false
