[package]
name = "conductor"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "conductor"
path = "src/main.rs"
bench = false

[dependencies]
serde = { version = "1.0.186", features = ["derive"] }
serde_json = "1.0.107"
tokio = { version = "1.32.0", features = ["macros", "rt-multi-thread"] }
hyper = { version = "0.14.27", features = ["http1", "http2", "client"] }
axum = { version = "0.6.20", features = ["headers"] }
async-graphql = { version = "6.0.6", features = ["dynamic-schema"]}
serde_yaml = "0.9.25"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
async-trait = "0.1.73"
hyper-tls = "0.5.0"
axum-macros = "0.3.8"
tokio-util = { version = "0.7.9", features = ["io", "compat"] }
tower-http = { version = "0.4.3", features = ["cors"] }
http = "0.2.9"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }

[lib]
bench = false

[[bench]]
name = "bench"
harness = false
