name: benchmark

on:
  pull_request:
    paths-ignore:
      - "website/**"

jobs:
  k6:
    name: k6
    # runs-on: ubuntu-22.04
    runs-on: benchmark-runner
    steps:
      - name: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      # global cache for cargo registry and git deps
      - name: cache global cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-global-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      # cache for each project's target directory
      - name: cache project builds
        uses: actions/cache@v3
        with:
          path: |
            bins/**/target
            libs/**/target
            plugins/**/target
            benchmark/server/target
          key: ${{ runner.os }}-project-targets-${{ hashFiles('**/Cargo.lock') }}

      - uses: actions-rs/toolchain@v1
        with:
          override: true

      - name: Setup K6
        run: |
          sudo gpg -k
          sudo gpg --no-default-keyring --keyring /usr/share/keyrings/k6-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys C5AD17C747E3415A3642D57D77C6C491D6AC1D69
          echo "deb [signed-by=/usr/share/keyrings/k6-archive-keyring.gpg] https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install k6=0.47.0

      - name: figure out versions
        id: versions
        working-directory: ./benchmark
        run:
          PNPM_VERSION=$(cat package.json | jq -r '.packageManager' | awk -F@ '{print $2}')
          NODE_VERSION=$(cat package.json | jq -r '.engines.node' | awk -F= '{print $2}')

          echo "pnpm=$PNPM_VERSION" >> $GITHUB_OUTPUT
          echo "nodejs=$NODE_VERSION" >> $GITHUB_OUTPUT

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: ${{ steps.versions.outputs.nodejs }}
          packageManager: pnpm
          packageManagerVersion: ${{ steps.versions.outputs.pnpm }}
          workingDirectory: ./benchmark

      - name: "build release binary"
        run: cargo build --bin conductor --release

      - name: "build conductor source server binary"
        run: cargo build --release
        working-directory: benchmark/server

      - name: run k6
        run: pnpm test
        working-directory: benchmark
        env:
          GITHUB_PR: ${{ github.event.number }}
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_NO_WARNINGS: true
          NODE_ENV: production
