name: ci

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  build:
    name: tests / rust ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: 1.74.0, os: ubuntu-22.04 }
          - { rust: 1.73.0, os: ubuntu-22.04 }
    steps:
      - name: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: worker-build

      - name: check
        run: cargo check

      - name: "build (bin: conductor)"
        run: cargo build --bin conductor --release

      - name: "build (bin: cloudflare_worker_wasm)"
        working-directory: crates/cloudflare_worker
        run: worker-build --release

      - name: test
        run: cargo test

  graphql-over-http:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.74.0
          override: true

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - run: pnpm install
        working-directory: tests/graphql-over-http

      - uses: JarvusInnovations/background-action@v1
        with:
          run: cargo run --bin conductor -- tests/graphql-over-http/config.yaml
          wait-on: http-get://127.0.0.1:9000/graphql
          tail: true
          wait-for: 5m
          log-output-if: failure
          log-output: true

      - run: pnpm start
        name: audit
        working-directory: tests/graphql-over-http
        env:
          SERVER_URL: http://127.0.0.1:9000/graphql

  config-json-schema:
    runs-on: ubuntu-22.04
    name: config-json-schema / integrity
    steps:
      - name: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.74.0
          components: rustfmt, clippy
          override: true

      - name: generate config json schema
        run: cargo run --bin generate-config-schema

      - name: check diff
        run: git diff --exit-code ./crates/config/conductor.schema.json

  lint:
    runs-on: ubuntu-22.04
    name: rustfmt + clippy
    steps:
      - name: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.74.0
          components: rustfmt, clippy
          override: true

      - name: cargo fmt
        run: cargo fmt --all -- --check

      - uses: actions-rs/clippy-check@v1
        name: cargo clippy
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
